.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.header__list{
    display: flex;
    gap: 82px;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}